/* normalize */
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,*::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active {outline: none;}
a:focus, a:active {outline: none;}

nav,footer,header,aside {display: block;}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-size: 14px;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea {font-family: inherit;}

input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}

h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: 400;}
/* ------------------------------------------------------------------- */

/* global position styles */
.wrapper  {
  margin: 0 auto;
}
.container {
  position: relative;
  max-width: 1516px;
  margin: auto;
}
@media screen and (max-width: 362px) {
  .container {
    max-width: 320px;
  }
}
/* ------------------------------------------------------------------- */

/* global fonts styles */
body {
  font-family: 'Jost', sans-serif;
  color: #2D2D2F;
}
h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
}
h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
}
p {
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}

@media screen and (max-width: 362px) {
  h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 42px;
  }
  h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 38px;
  }
  p {
    font-size: 20px;
    font-weight: 400;
    line-height: 16px;
  }
}
/* -------------------------------------------------------------------- */

/* global mobile styles */

/* -------------------------------------------------------------------- */